<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>




<%= link_to 'Back', lists_path %>
<%= link_to "Delete", list_path(@list), method: :delete, data: { confirm: "Are you sure you want to delete this restaurant?"} %>
<%= link_to "Create Bookmark", new_list_bookmark_path(@list)  %>
